@charset "utf-8";

$white: #f1faee;
$black: #1d3557;


html {
  scroll-behavior: smooth;
}

.hero.has-background {
    position: relative;
    overflow: hidden;
  }
  .hero-background {
    position: absolute;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
  }
  .hero-background.is-transparent {
    opacity: 0.3;
  }


@import "../node_modules/bulma/sass/utilities/initial-variables.sass";
$navbar-breakpoint: $off;
@import "../node_modules/bulma/bulma.sass";