@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat|Pinyon+Script&display=swap');

$white: #ffffff;
$black: #1d3557;

$family-sans-serif: "Montserrat", sans-serif;

html {
  scroll-behavior: smooth;
}

nav {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28)
}

.hero.has-background {
    position: relative;
    overflow: hidden;
  }
  .hero-background {
    position: absolute;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
  }
  .hero-background.is-transparent {
    opacity: 0.3;
  }

@import "../node_modules/bulma/sass/utilities/initial-variables.sass";
$navbar-breakpoint: $off;
@import "../node_modules/bulma/bulma.sass";